.wineHeader {
    background-color: black;
    color: white;
    width: 100vw;
    height: 15vh;
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;

    position: relative;
}

.wineHeader img {
    width: 150px;
    height: auto;
    transform: scale(-1, 1);
    position: fixed;
    top: calc(8vh + 50px);
    right: calc(67% - 150px);
    z-index: 1;
    opacity: 0.4;
}

.wineContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 100px 0 100px;
}

.wineProduct {
    width: 200px;
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #A00909;
    background-color: black;
    padding: 20px 30px;
    border-radius: 30%;

    z-index: 2;

    margin: 20px;
}

.wineTitle,
.wineBuy {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.wineBuy {
    font-size: 120%;
    border-radius: 25%;
    /* background-color: white; */
    background-color: lightgrey;    
    padding-top: 5px;
}

.cart {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    z-index: 1;
    
    width: 80px;
    position: fixed;
    right: 10px;
    top: 45vh;
}

@media (min-height: 600px) and (min-width: 600px) {
    .wineHeader img {
        top: calc(8vh);
        right: calc(40% - 150px);
    }
    .wineHeader {
        font-size: 5rem;
    }
    .wineContainer {
        padding-top: 0px;
    }
}

/* .hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
} */

/* .hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
} */